@media (max-width: 768px) {

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
    width: 100vw;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #282828;
    height: 100vh;
    width: 50vw;
    margin-right: 50vw;
    transform: translate(-50vw);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .about-me {
    width: 70vw;
  }

  .project-img {
      max-width: 100%;
      height: auto;
      padding: 0px;
  }

}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  font-family: sans-serif;
}

/*general sections*/

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 48px; /* make room for the fixed header */
  width: 100vw;
}

section {
  padding: 20px;
  text-align: center;
  width: 100vw;
}

section h1 {
  margin: 0;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 100px;
  font-size: 10vw;
  color: #B6A35D;
  padding-top: 30vh;
}

section h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  font-family: Georgia, Times New Roman, Times, serif;
}

section h3 {
  margin: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #B6A35D;
  font-family: Georgia, Times New Roman, Times, serif;
}

section p {
  margin: 20px;
  font-size: 18px;
}

/* desktop menu */
header {
  background-color: #282828;
  color: #fff;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100vw;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #B6A35D;
}

.desk-cancel {
  display: none;

}

/* text classes */
.p1 {
  margin: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #303030;
}

.p2 {
  margin: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #D0CCBA;
}

.p3 {
  margin: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #white;
}

.color-1 {
  background-color: #282828;
}

.color-2 {
  background-color: #E6E4DB;
}

.color-3 {
  color: #D0CCBA;
}

.color-4 {
  background-color: #fafafa;
}

/* name page */
.name-page {
  background-image: url(name_bg.png);
  background-repeat: repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

}

.left-column {
  width: 500px;
  padding: 50px;
}

.right-column {
  width: 500px;
  padding: 50px;
  text-align: left;
}

.about-me {
  max-width: 100%
  height: auto;
}

/* projects */
.horizontal-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
  }

.text-box {
    border-width: thin;
    border-color: black;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
  }

.project-img {
    max-width: 100%;
    height: auto;
    padding: 50px;
}

a:link {
  color: #D0CCBA;
}

/* visited link */
a:visited {
  color: #D0CCBA;
}

/* mouse over link */
a:hover {
  color: #B6A35D;
}

/* selected link */
a:active {
  color: #B6A35D;
}

.project {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.project img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

/* carousel */
.carousel-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-slide img {
  max-width: 100%;
  height: auto;
}

.carousel-slide h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.carousel-slide p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.carousel-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.carousel-nav-item {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.carousel-nav-item.active {
  background-color: #333;
  color: #fff;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-arrow-left {
  left: 20
