body {
  margin: 0;
  width: 100%;
  font-family: sans-serif;
}

header {
  background-color: #282828;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #B6A35D;
}

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 48px; /* make room for the fixed header */
  width: 100%;
}

section {
  padding: 20px;
  text-align: center;
  width: 100%;
}

section h1 {
  margin: 0;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 100px;
  color: #B6A35D;
  padding-top: 30vh;
}

section h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: Georgia, Times New Roman, Times, serif;
}

section h3 {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #B6A35D;
  font-family: Georgia, Times New Roman, Times, serif;
}

section p {
  margin: 20px;
  font-size: 18px;
}

/* text classes */
.p1 {
  margin: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #303030;
}

.p2 {
  margin: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #D0CCBA;
}

.color-1 {
  background-color: #282828;
}

.color-2 {
  background-color: #E6E4DB;
}

.color-3 {
  color: #D0CCBA;
}

.color-4 {
  background-color: #fafafa;
}

/* name page */
.name-page {
  background-image: url(name_bg.png);
  background-repeat: repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

}

.left-column {
  width: 500px;
  padding: 50px;
}

.right-column {
  width: 500px;
  padding: 50px;
  text-align: left;
}

/* projects */
.horizontal-center {
    display: flex;
    justify-content: center;
  }

.text-box {
    border-width: thin;
    border-color: black;
    background-color: white;
    width: 900px;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
  }

.project-img {
    width: 400px;
    height: auto;
    padding: 50px;
}

a:link {
  color: #D0CCBA;
}

/* visited link */
a:visited {
  color: #D0CCBA;
}

/* mouse over link */
a:hover {
  color: #B6A35D;
}

/* selected link */
a:active {
  color: #B6A35D;
}

.project {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.project img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}
